<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="DBHelper.Properties.Settings.SocialTGConnectionString"
      connectionString="Data Source=DESKTOP-GBEAEGU\SQLEXPRESS;Initial Catalog=SocialTG;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>